<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/binder.css" />
    <link rel="stylesheet" href="/css/dropdown.css" />
    <script
      src="https://kit.fontawesome.com/81e5ddd343.js"
      crossorigin="anonymous"
    ></script>
    <title>Binder | FileUploader</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <div class="file-modal" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <button onclick="toggleModal()" class="close-modal-btn">X</button>
            <div class="modal-header">
              <h2 class="modal-title">Upload File</h2>
            </div>
            <div class="modal-body">
              <form
                action="/binder/file"
                method="post"
                class="file-upload-form"
                enctype="multipart/form-data"
              >
                <div class="input">
                  <input type="file" id="file" name="file" required />
                </div>
                <button class="file-upload-btn">Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="binder">
        <div class="binder-header">
          <div class="left"><i class="fa-solid fa-folder"></i> My Binder</div>
          <div class="right">
            <a href="/binder/folder"
              ><i class="fa-solid fa-folder-plus"></i> new folder</a
            >
            <button onclick="toggleModal()" class="upload-btn">
              <i class="fa-solid fa-file-arrow-up"></i> upload file
            </button>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Created</th>
              <th>Last Updated</th>
              <th>Options</th>
            </tr>
          </thead>
          <% if (data.folders.length !==0 || data.files.length !== 0 ) { %> <%
          data.folders.forEach((folder) => { %>
          <tr
            onclick="window.location.href = '/binder/folder/<%= folder.id %>'"
          >
            <td class="name-data"><%= folder.name %></td>
            <td class="size-data">-</td>
            <td class="created-data"><%= folder.formattedCreatedAt %></td>
            <td class="updated-data"><%= folder.formattedCreatedAt %></td>
            <td class="options-data">
              <div class="dropdown">
                <button class="dropbtn">
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/binder/folder/edit/<%- folder.id %>">Edit</a>
                  <a href="/binder/folder/delete/<%- folder.id %>">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          <% })%> <% data.files.forEach((file) => { %>
          <tr onclick="window.location.href = '/binder/file/<%= file.id %>'">
            <td><%= file.name %></td>
            <td><%= file.formattedSize %></td>
            <td><%= file.formattedUploadedAt %></td>
            <td><%= file.formattedUploadedAt %></td>
            <td>
              <div class="dropdown">
                <button class="dropbtn">
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/binder/file/download/<%= file.id %>">Download</a>
                  <a href="/binder/file/edit/<%= file.id %>">Edit</a>
                  <a href="/binder/file/delete/<%= file.id %>">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          <% })} else { %>
          <tr>
            <td>Your binder is empty</td>
          </tr>
          <% } %>
        </table>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script>
    function toggleModal() {
      const fileModal = document.querySelector(".file-modal");
      console.log(fileModal);
      if (fileModal.classList.contains("show")) {
        fileModal.classList.remove("show");
      } else {
        fileModal.classList.add("show");
      }
    }

    document.querySelectorAll(".dropbtn").forEach((button) => {
      button.addEventListener("click", (e) => {
        e.stopPropagation();
        const dropdowns = button.nextElementSibling;
        if (dropdowns.classList.contains("show")) {
          dropdowns.classList.remove("show");
        } else {
          const allDropdowns = document.querySelectorAll(".dropdown-content");
          allDropdowns.forEach((dropdowns) =>
            dropdowns.classList.remove("show")
          );
          dropdowns.classList.add("show");
        }
      });
    });
    document.addEventListener("click", (e) => {
      document.querySelectorAll(".dropbtn").forEach((button) => {
        const dropdowns = button.nextElementSibling;
        dropdowns.classList.remove("show");
      });
    });
  </script>
</html>
