<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/binder.css" />
    <link rel="stylesheet" href="/css/dropdown.css" />
    <script
      src="https://kit.fontawesome.com/81e5ddd343.js"
      crossorigin="anonymous"
    ></script>
    <title>Binder | FileUploader</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <div class="binder">
        <div class="binder-header">
          <div class="left"><i class="fa-solid fa-folder"></i> My Binder</div>
          <div class="right">
            <a href="/binder/folder"
              ><i class="fa-solid fa-folder-plus"></i> new folder</a
            >
            <a href="/"
              ><i class="fa-solid fa-file-arrow-up"></i> upload file</a
            >
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Created</th>
              <th>Last Updated</th>
              <th>Options</th>
            </tr>
          </thead>
          <% if (data.folders.length !== 0 || data.filess.length !== 0) { %> <%
          data.folders.forEach((folder) => { %>
          <tr onclick="window.location.href = '/binder/<%= folder.id %>'">
            <td><%= folder.name %></td>
            <td><%= folder.size %></td>
            <td><%= folder.createdAt %></td>
            <td><%= folder.name %></td>
            <td>
              <div class="dropdown">
                <button class="dropbtn">...</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/">Edit</a>
                  <a href="/">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          <% })%> <% data.files.forEach((file) => { %>
          <tr>
            <td><%= file.name %></td>
            <td><%= file.size %></td>
            <td><%= file.createdAt %></td>
            <td><%= file.name %></td>
            <td>
              <div class="dropdown">
                <button class="dropbtn">...</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/">Edit</a>
                  <a href="/">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          <% })} else { %>
          <tr>
            <td>Your binder is empty</td>
          </tr>
          <% } %>
        </table>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script>
    document.querySelectorAll(".dropbtn").forEach((button) => {
      button.addEventListener("click", (e) => {
        e.stopPropagation();
        const dropdowns = button.nextElementSibling;
        if (dropdowns.classList.contains("show")) {
          dropdowns.classList.remove("show");
        } else {
          dropdowns.classList.add("show");
        }
      });
    });
    document.addEventListener("click", (e) => {
      document.querySelectorAll(".dropbtn").forEach((button) => {
        const dropdowns = button.nextElementSibling;
        dropdowns.classList.remove("show");
      });
    });
  </script>
</html>
