<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/binder.css" />
    <link rel="stylesheet" href="/css/dropdown.css" />
    <script
      src="https://kit.fontawesome.com/81e5ddd343.js"
      crossorigin="anonymous"
    ></script>
    <title>Folder | FileUploader</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <div class="binder">
        <a href="/binder" class="binder-link"
          ><i class="fa-solid fa-arrow-left"></i>My Binder</a
        >
        <div class="binder-header">
          <div class="left">
            <div><i class="fa-solid fa-folder"></i> <%= data.name %></div>
          </div>
          <div class="right">
            <a href="/binder/folder"
              ><i class="fa-solid fa-folder-plus"></i> new folder</a
            >
            <a href="/"
              ><i class="fa-solid fa-file-arrow-up"></i> upload file</a
            >
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Created</th>
              <th>Last Updated</th>
              <th>Options</th>
            </tr>
          </thead>
          <% if (data.files.length !== 0) { data.files.forEach((file) => { %>
          <tr>
            <td><%= file.name %></td>
            <td><%= file.size %></td>
            <td><%= file.createdAt %></td>
            <td><%= file.name %></td>
            <td>
              <div class="dropdown">
                <button onclick="dropdown()" class="dropbtn">...</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          <% })} else { %>
          <tr>
            <td>This folder is empty</td>
          </tr>
          <% } %>
        </table>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script>
    function dropdown() {
      document
        .getElementById("myDropdown-" + buttonId.split("-")[2])
        .classList.toggle("show");
    }
    window.onclick = function (event) {
      if (!event.target.matches(".dropbtn")) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    };
  </script>
</html>
